
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Quattrocento Sans', sans-serif;

}

h1,h2,h3,h4,h5,h6{
font-family: 'Quattrocento', serif;
}
.navbar-brand {
	font-family: 'Cinzel', serif;

}
#ferdieH1{
	font-family: 'Cinzel', serif;
}
body {

	background-image:url(https://images.pexels.com/photos/754262/pexels-photo-754262.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.carousel-caption {

	background-color: rgba(0, 0, 0, 0.5);


}

.no-overflow {

	overflow-x: hidden;

}

.flexIndex {

	display: flex;
	flex-direction: column;
	align-content: center;

}

.divHeight{

	height:80vh;

}

footer a {

	color:black;
	text-decoration: none;

}

nav {

	background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(5px);
 	-webkit-box-shadow: 0px 18px 32px 7px #000000; 
 	box-shadow: 0px 18px 32px 7px #000000;

}

footer {

/*		height:10vh;*/
		background-color: rgba(255, 255, 255, .15);  
	 	backdrop-filter: blur(5px);


}

.carouselDiv {

	height:45vh;

}

@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
      text-align:center;
      height:30px;
      border-radius: 50%;
      background:white;
     -webkit-animation: bounce 0.75s infinite;
}